@model FlowerLaundry.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Detail Data Customer</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nama Customer")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaCustomer)
        </dd>
        <dt>
            @Html.DisplayName("No Hp")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoHp)
        </dd>
        <dt>
            @Html.DisplayName("Alamat")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCustomer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
