@model IEnumerable<FlowerLaundry.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center; font-family:'Lucida Calligraphy'; font-size:xx-large">Data Customer</h2>

<p>
    <a asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Customer")
            </th>
            <th>
                @Html.DisplayName("No Hp")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCustomer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCustomer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCustomer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
