@model FlowerLaundry.Models.Pesanan

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Data Pesanan</h2>

<h3>Are you sure you want to delete this?</h3>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Berat")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Berat)
        </dd>
        <dt>
            @Html.DisplayName("Pelayanan")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pelayanan)
        </dd>
        <dt>
            @Html.DisplayName("Harga Total")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HrgTotal)
        </dd>
        <dt>
            @Html.DisplayName("Tanggal Order")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglOrder)
        </dd>
        <dt>
            @Html.DisplayName("Nama Customer")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCustomerNavigation.NamaCustomer)
        </dd>
        <dt>
            @Html.DisplayName("Nama Karyawan")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKaryawanNavigation.NamaKaryawan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NoPesanan" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
